* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(33, 0, 24);
    color: white;
    font-family: "Poppins", sans-serif;
}

header {
    background-color: rgb(62, 18, 41);
}

li {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

.navbar {
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.nav-brand {
    font-size: 2rem;
}

.nav-link {
    transition: 0.7s ease;
}

.nav-link:hover {
    color: rgb(226, 153, 194);
    font-size: 1.2rem;
    transition: ease-in-out;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3 ease-in-out;
    transition: all 0.3 ease-in-out;
    background-color: white;
}

@media (max-width:768px) {
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: rgb(62, 18, 41);
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
    }
}

main hr {
    border: 0;
    background: #f197d9;
    height: 1.5px;
    margin: 60px 84px;
}

.first {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 110px 0;
}

.first>div {
    width: 30%;
}

.leftSection {
    font-size: 2.5rem;
}

.rightSection img {
    width: 80%;
}

.purple {
    color: rgb(228, 107, 198);
}

.text-grey {
    color: gray;
}

#element {
    color: rgb(228, 107, 198);
}

.second {
    max-width: 80vw;
    margin: auto;
    height: 80vh;
}

.second h1 {
    font-size: 2rem;
}

.second .grid {
    display: flex;
}

.second .grid img {
    width: 60%;
}

.second .myDesc {
    margin-top: 30px;
    margin-right: 30px;
    width: 50%;
    line-height: 30px;
}

.second .myPhoto {
    margin-left: 80px;
}

.myDesc .button {
    padding: 50px 0;
}

.myDesc .btn {
    margin-top: 15px;
    padding: 12px;
    background-color: #671e4a;
    color: white;
    border: 2px solid white;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
}

@media (max-width:768px) {
    .second {
        max-width: 80vw;
        margin: auto;
        height: 90vh;
    }

    .second .myDesc {
        margin-top: 30px;
        margin-right: 30px;
        width: 100%;
        line-height: 30px;
    }

}

@media (max-width:480px) {
    .second {
        max-width: 80vw;
        margin: auto;
        height: 150vh;
    }

    .second .myDesc {
        margin-top: 30px;
        margin-right: 30px;
        width: 300%;
        line-height: 30px;
    }

}

.third {
    max-width: 80vw;
    margin: auto;
    height: 90vh;
}

.third h1 {
    font-size: 2rem;
    margin-bottom: 30px;
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
}

.skill {
    text-align: center;
}

.skill img {
    width: 70%;
    height: 70%;
}

.skill img:hover {
    scale: 110%;
}

.third .skill h3 {
    margin-top: 15px;
}

@media (max-width:768px) {
    .third {
        max-width: 80vw;
        margin: auto;
        height: 100vh;
    }

    .skills-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .skill img {
        width: 60%;
        height: 60%;
    }

}

@media (max-width:480px) {
    .third {
        max-width: 80vw;
        margin: auto;
        height: 180vh;
    }

    .skills-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .skill img {
        width: 60%;
        height: 60%;
    }

}

.fourth {
    max-width: 80vw;
    margin: auto;
    height: 70vh;
}

.fourth h1 {
    font-size: 2rem;
}

.fourth .box {
    background: white;
    width: 80vw;
    height: 2px;
    margin: 56px 0;
    display: flex;
}

.fourth .vertical {
    height: 93px;
    width: 1px;
    background-color: white;
    margin: 0 110px;
}

.image-top {
    width: 25px;
    position: relative;
    top: -32px;
    left: -9px;
}

.vertical-title {
    position: relative;
    top: 75px;
    width: 150px;
    font-size: 14px;
}

.vertical-desc {
    position: relative;
    top: 86px;
    color: gray;
    width: 150px;
    font-size: 10px;
}

@media (max-width:768px) {
    .fourth .box {
        background: white;
        width: 100vw;
        height: 2px;
        margin: 56px 0;
        display: flex;
    }

    .fourth .vertical {
        height: 93px;
        width: 1px;
        background-color: white;
        margin: 0 75px;
    }
}

@media (max-width:480px) {
    .fourth .box {
        background: white;
        width: 160vw;
        height: 2px;
        margin: 56px 0;
        display: flex;
    }
}

footer {
    background-color: rgb(62, 18, 41);
}

.footer {
    display: flex;
    padding: 23px 122px;
    justify-content: space-evenly;
}

.footer ul {
    list-style: none;
}

.footer>div {
    width: 223px;
}

footer .footer-text-center {
    text-align: center;
    color: gray;
    padding: 12px 0;
}
footer li{
    line-height: 30px;
}
footer a {
    text-decoration: none;
}

footer a:hover {
    text-decoration: none;
    color: rgb(226, 153, 194);
}

.leftSection .buttons {
    padding: 50px 0;
}

.leftSection .btn {
    padding: 12px;
    background-color: #671e4b;
    color: white;
    border: 2px solid white;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
}

.fifth {
    max-width: 80vw;
    margin: auto;
    height: 100vh;
}

.fifth h1 {
    font-size: 2rem;
    margin-bottom: 30px;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.project {
    text-align: center;
}

.project img {
    width: 95%;
    height: 50%;
}

.project img:hover {
    scale: 110%;
}

.fifth .project h3 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.fifth .project p {
    font-size: 14px;
    line-height: 30px;
    color: gray;
}

@media (max-width:768px) {
    .fifth {
        max-width: 80vw;
        margin: auto;
        height: 230vh;
    }

    .projects-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    .project img {
        width: 85%;
        height: 50%;
    }
}

@media (max-width:480px) {
    .fifth {
        max-width: 80vw;
        margin: auto;
        height: 310vh;
    }

    .project img {
        margin-top: 80px;
    }
}

.contact {
    max-width: 80vw;
    margin: auto;
    height: 80vh;
}

.contact h1 {
    font-size: 2rem;
    margin-bottom: 30px;
}

.contact .container {
    width: 50%;
}

.contact button {
    background-color: rgb(239, 61, 162);
    border: none;
}

.contact button:hover {
    background-color: rgb(234, 99, 176);
    border: none;
}

.social-media a {
    color: #fff;
    margin: 0 1rem;
    text-decoration: none;
    font-size: 1.5rem;
}

.gotop {
    position: fixed;
    width: 50px;
    height: 50px;
    background: #671e4a;
    bottom: 40px;
    right: 50px;

    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 22px;
}

.gotop i:hover {
    color: rgb(226, 153, 194);
}